<div class="board">
    <div class="row">
        <gameboard-cell class="cell" [player]=""></gameboard-cell>
        <gameboard-cell class="cell"></gameboard-cell>
        <gameboard-cell class="cell"></gameboard-cell>
    </div>
    <div class="row">
        <gameboard-cell class="cell"></gameboard-cell>
        <gameboard-cell class="cell"></gameboard-cell>
        <gameboard-cell class="cell"></gameboard-cell>
    </div>
    <div class="row">
        <gameboard-cell class="cell"></gameboard-cell>
        <gameboard-cell class="cell"></gameboard-cell>
        <gameboard-cell class="cell"></gameboard-cell>
    </div>
</div>