<div class="board">
    <div *ngFor="let row of gameboard" class="row">
        <gameboard-cell *ngFor="let col of gameboard" class="cell" [player]="'O'"></gameboard-cell>
    </div>
    <!-- <div class="row">
        <gameboard-cell class="cell" [player]="'O'"></gameboard-cell>
        <gameboard-cell class="cell"[player]="'O'"></gameboard-cell>
        <gameboard-cell class="cell"[player]="'O'"></gameboard-cell>
    </div>
    <div class="row">
        <gameboard-cell class="cell"[player]="'X'"></gameboard-cell>
        <gameboard-cell class="cell"[player]="'X'"></gameboard-cell>
        <gameboard-cell class="cell"></gameboard-cell>
    </div>
    <div class="row">
        <gameboard-cell class="cell"></gameboard-cell>
        <gameboard-cell class="cell"></gameboard-cell>
        <gameboard-cell class="cell"></gameboard-cell>
    </div> -->
</div>