$cell-side: 120px;

.board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cell {
    width: $cell-side;
    height: $cell-side;
    padding: 1px 1px 1px 1px;
}

.winner {
    font-size: 30px;
}