<div class="container">
    <div class="game">
        <h1>Welcome to Tic Tac Toe!</h1>
        <gameboard (winnerExists)="onGameOver($event)"></gameboard>
        <ng-container *ngIf="!gameboardService.getWinnerMessage(); else gameOver">
            <p>{{ gameboardService.getCurrentPlayer() }} turn now!</p>
        </ng-container>
        <ng-template #gameOver>
            <p>{{ gameboardService.getWinnerMessage() }}</p>
            <play-again-btn></play-again-btn>
        </ng-template>
    </div>
    <div class="wins-history">
        <h1>Wins History:</h1>
        <wins-history-board [winningsHistory$]="winnings$"></wins-history-board>
    </div>
</div>